<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
  <!-- Add any other necessary stylesheets and scripts here -->
</head>
<body>
  <div class="container-fluid">
    <br>
    <form action="/get_selected_marker" method="get">
      {{ form.csrf_token }}
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4>Informations générales</h4>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.id_marker(class="form-control", value=data[19], readonly="readonly", style="display: none;") }}
                  </div>                  
                  <div class="form-group">
                    {{ form.site.label }}
                    {{ form.site(class="form-control", value=data[0], readonly="readonly") }}
                  </div>
                  <div class="form-group">
                    {{ form.societe.label }}
                    {{ form.societe(class="form-control", value=data[3], readonly="readonly") }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.nom.label }}
                    {{ form.nom(class="form-control", value=data[1], readonly="readonly") }}
                  </div>
                  <div class="form-group">
                    {{ form.prenom.label }}
                    {{ form.prenom(class="form-control", value=data[2], readonly="readonly") }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    {{ form.contact.label }}
                    {{ form.contact(class="form-control", value=data[4], readonly="readonly") }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h4>Informations relatives à l'exploitation</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.SAU_surf.label }}
                    {{ form.SAU_surf(class="form-control", value=data[5], readonly="readonly") }}
                  </div>
                  <div class="form-group">
                    {{ form.types_prod.label }}
                    {{ form.types_prod(class="form-control", value=data[6], readonly="readonly") }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.types_vente.label }}
                    {{ form.types_vente(class="form-control", value=data[7], readonly="readonly") }}
                  </div>
                  <div class="form-check">
                    {{ form.bio(class="form-check-input", value=data[8], readonly="readonly") }}
                    {{ form.bio.label(class="form-check-label") }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h4>Informations relatives au partenariat avec le CEN</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.type_contrat_CEN.label }}
                    {{ form.type_contrat_CEN(class="form-control", value=data[9], readonly="readonly") }}
                  </div>
                  <div class="form-group">
                    {{ form.surf_contractualisee.label }}
                    {{ form.surf_contractualisee(class="form-control", value=data[10], readonly="readonly") }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.signature.label }}
                    {{ form.signature(class="form-control", value=data[11], readonly="readonly") }}
                  </div>
                  <div class="form-group">
                    {{ form.prise_effet.label }}
                    {{ form.prise_effet(class="form-control", value=data[12], readonly="readonly") }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.fin.label }}
                    {{ form.fin(class="form-control", value=data[13], readonly="readonly") }}
                  </div>
                  <div class="form-group">
                    {{ form.grands_types_milieux.label }}
                    {{ form.grands_types_milieux(class="form-control", value=data[14], readonly="readonly") }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.charge_mission.label }}
                    {{ form.charge_mission(class="form-control", value=data[15], readonly="readonly") }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    {{ form.remarques.label }}
                    {{ form.remarques(class="form-control", rows=3, value=data[16], readonly="readonly") }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      {{ form.latitude(class="form-control", readonly="readonly", style="display: none;") }}
                    </div>
                    <div class="form-group">
                      {{ form.longitude(class="form-control", readonly="readonly", style="display: none;") }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          {{ form.submit(class="btn btn-primary", id="edit_BDD", value="Valider les modifications") }}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  
  